@import url(https://fonts.googleapis.com/css?family=Lato);
@import './slider.scss';
body{
	font-family:Lato;
	margin:0;
}
#container {
	display:flex;
	height: 100vh;
	background-color: #dfdfdf;
	background-size:cover;
}
.app {
	background-color:rgba(255, 255, 255, 0.95);
	text-align:center;
	color: #555;
	margin:auto;
	width: 67%;
	min-width:300px;
	max-width: 800px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	// min-height: 500px;
}
.weather_panel_item {
	display:inline-block;
	width: 16%;
	box-sizing:border-box;
	border:1px solid #e0e0e0;
	cursor:pointer;
	&:hover {
		font-weight:bold;
		background-color: #f2f2f2;
	}
	.panel_day {
	margin:0.3em;
	}
}

.weather_panel {
	text-align:center;
}
img {
	vertical-align:middle;
}
.condition {
	display:inline-block;
	vertical-align:middle;
	font-size: 2.4em;
	margin:0
}
.weather_dashboard {
	text-align:center;
}
.dashboard_panel {
	vertical-align:top;
	display:inline-block;
	width:47.5%;
	// text-align:center;
	margin:0;
	box-sizing:border-box;
	.dashboard_header, .dashboard_text {
		margin:0.2em;
	}
	// .dash
}
.slider {
	margin: 2em auto;
	width:  50%;
}